@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,700&family=IBM+Plex+Serif:wght@700&display=swap');

/* define custom variables */
:root {
  --beige: #FFFAE8;
  --buhbeige: #FBEBC0;
  --dark-brown: #472C1B;
  --bloo: #3B7F98;
  --dark-bloo: #19404F;
  --dark-rorange: #AC4113;
  --darker-rorange: #832800;
  --dark-red: #630C00;
}

html {
  background-color: var(--dark-red);
}

.App {
  /* background-color: var(--dark-red); */
  min-height: 100vh;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--beige);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  /* width: 100vw;
  height: 100vh; */
}

/* mobile-first sizing */
#home-frame {
  position: relative;
  /* top: 25%; */
  /* display: block; */
  display: flex;
  width: 90vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-image: url('assets/frames/main_frame.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#home-contents {
  /* position: relative; */
  margin: auto;
  width: 60%;
  /* height: 0%; */
  /* padding: 1vw 7vh; */

  > * {
    margin: 10px;
  }

  >h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 3rem;
    color: var(--dark-rorange);
  }

  >p {
    font-weight: 700;
    font-size: 1rem;
    color: var(--darker-rorange);
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #home-frame {
    
  }

  #home-contents {
    >h1, p {
      font-size: 5rem;
    }

    >p{
      font-size: 2rem;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #home-contents {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #home-contents {
    width: 30%;
  }
}
